# SAP
SAP_USER=auto_email
SAP_PASS=
SAP_ASHOST=192.168.254.154
SAP_SYSNR=01
SAP_CLIENT=300
SAP_LANG=EN

# Azure credentials from aplikasi BC
AZURE_TENANT_ID=5f138de3-8774-4114-8fc4-1a93dfc31a3a
AZURE_CLIENT_ID=f958e8a8-3f52-4638-9885-52d786d38b11
AZURE_CLIENT_SECRET=
AZURE_TOKEN_URL=https://login.microsoftonline.com/5f138de3-8774-4114-8fc4-1a93dfc31a3a/oauth2/v2.0/token
AZURE_SCOPE=https://storage.azure.com/.default

FABRIC_WORKSPACE=Development Fabric Workspace
FABRIC_BASE_PATH=Files/sap_rfc 
#pusatnya sap_rfc karena nanti saya ingin membuatkan tiap datanya dimuat dalam 1 folder lagi, contoh untuk RFC YPPR074Z maka jsonya disimpan dalam Files/sap_rfc/yppr074z
FABRIC_LAKEHOUSE=raw_data_from_sap